<footer id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>INSTRUCCIONES</h3>
                <br>
                <p style="text-align: justify;text-justify: inter-word;color:floralwhite;">
                    Ingrese el número que falta para completar la serie, en el apartado de Configurar usted puede configurar los parámetros de cuantas secuencias se mostraran por ejecución, el número mínimo que se mostrara en cada secuencia así como el número máximo que la misma mostrara.
                </p>
            </div>            
        </div>
        <div class="row">
            <div class="col-md-12 fh5co-copyright text-center">
                <p style="color:floralwhite;" ><small>&copy; 2021 César Sazo. All Rights Reserved. </small> <small>Hecho con HTML5 & CSS y Bootstrap</small> </p>
            </div>
        </div>
    </div>
</footer>