<div id="fh5co-wrap">
    <header id="fh5co-header">
        <div class="container">
            <nav class="fh5co-main-nav">
                <ul>
                    <li>
                        <a [routerLink]="['/']">
                          <span style="font-size: large;">Inicio</span>
                        </a>
                    </li>
                    <li  class="fh5co-active">
                        <a [routerLink]="['/configurar']">
                            <span style="font-size: large;">Configurar</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="fh5co-hero" style="background-image: url( ../../../assets/images/hero_1.jpg );" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
              <div class="fh5co-intro fh5co-table-cell">
                <h2 >Configurar las secuencias!</h2>
                <br><br><br>
                <form (submit)="changeData($event)">
                    <div class="form-group">
                      <label>Cantidad de secuencias</label>
                      <input type="number" class="form-control" id="secuencias" [(ngModel)]="Csecuencias" name="secuencias" >
                    </div>
                    <div class="form-group">
                        <label>Minimo número en las secuencias</label>
                      <input type="number" class="form-control" id="minsec" [(ngModel)]="CminSecuencia" name="minsec" >
                    </div>
                    <div class="form-group">
                        <label>Maximo número en las secuencias</label>
                      <input type="number" class="form-control" id="maxsec" [(ngModel)]="CmaxSecuencia" name="maxsec" >
                    </div>
                    <button type="submit" class="btn btn-success  btn-lg btn-block">Guardar</button>
                    <notifier-container></notifier-container>
                </form>
                            
              </div>
            </div>
          </div>
        </div>
    </div>
</div> <!-- END fh5co-wrap -->